<div class="row">
    <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Shop List</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                 
                  <th>
                    Restaturant Name
                  </th>
                  <th>
                    Address
                  </th>
                  <th>
                    Status
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                    Shop 1
                  </td>
                  <td>
                      Bangalore
                  </td> 
                  <td>
                    <label class="badge badge-gradient-success">Open</label>
                  </td>
                  
                </tr>
                <tr> 
                  <td>
                    <img src="assets/images/faces/face4.jpg" class="mr-2" alt="image">
                    Subway
                  </td>
                  <td>
                   Bangalore
                  </td>
                  <td>
                    <label class="badge badge-gradient-success">Open</label>
                  </td>
                 
                </tr>
                <tr>
                  
                  <td>
                    <img src="assets/images/faces/face3.jpg" class="mr-2" alt="image">
                    Dominos
                  </td>
                  <td>
                    Bangalore
                  </td>
                  <td>
                    <label class="badge badge-gradient-success">Open</label>
                  </td>
                  
                </tr>
                <tr>
                 
                  <td>
                    <img src="assets/images/faces/face4.jpg" class="mr-2" alt="image">
                    MAC'D
                  </td>
                  <td>
                   Bangalore
                  </td>
                 
                  <td>
                    <label class="badge badge-gradient-danger">Close</label>
                  </td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>