<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-header d-flex align-items-baseline">
        <h4 class="card-title mr-2">Shop List</h4>
        <div class="input-group w-25">
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">
                    <i class="mdi mdi-magnify"></i>
                </div>
            </div>
            <input type="text" class="form-control bg-light" placeholder="Search" aria-label="Search"
                aria-describedby="btnGroupAddon">
        </div>
    </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>

                <th>
                  Restaturant Name
                </th>
                <th>
                  Service Area
                </th>
                <th>
                  Status
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of shopList">
                <td>
                  <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                  {{s.name}}
                </td>
                <td>
                  {{s.address.addressLine1}},
                  {{s.address.addressLine2}},
                  {{s.address.stateDetails.name}},
                  {{s.address.stateDetails.countryDetails.name}}
                </td>
                <td>
                  <label class="badge badge-success">Enable</label>
                </td>
                <td class="d-flex justify-content-around">
                  <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                  <i class="mdi mdi-delete mdi-24px text-danger"></i>                  
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination class="d-flex justify-content-center" [collectionSize]="120" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>

</div>