<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-header d-flex align-items-baseline">
                <h4 class="card-title mr-2">Rider List</h4>
                <div class="input-group w-25">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">
                            <i class="mdi mdi-magnify"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control bg-light" placeholder="Search" aria-label="Search"
                        aria-describedby="btnGroupAddon">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Mobile
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Status
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    ID5673
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    Vishal Darekar
                                </td>
                                <td>
                                    7875880072
                                </td>
                                <td>
                                    abc@email.com
                                </td>
                                <td>
                                    <label class="badge badge-success">Active</label>
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ID5673
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    Vishal Darekar
                                </td>
                                <td>
                                    7875880072
                                </td>
                                <td>
                                    abc@email.com
                                </td>
                                <td>
                                    <label class="badge badge-success">Active</label>
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ID5673
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    Vishal Darekar
                                </td>
                                <td>
                                    7875880072
                                </td>
                                <td>
                                    abc@email.com
                                </td>
                                <td>
                                    <label class="badge badge-success">Active</label>
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ID5673
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    Vishal Darekar
                                </td>
                                <td>
                                    7875880072
                                </td>
                                <td>
                                    abc@email.com
                                </td>
                                <td>
                                    <label class="badge badge-success">Active</label>
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ID5673
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    Vishal Darekar
                                </td>
                                <td>
                                    7875880072
                                </td>
                                <td>
                                    abc@email.com
                                </td>
                                <td>
                                    <label class="badge badge-success">Active</label>
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ID5673
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    Vishal Darekar
                                </td>
                                <td>
                                    7875880072
                                </td>
                                <td>
                                    abc@email.com
                                </td>
                                <td>
                                    <label class="badge badge-success">Active</label>
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ID5673
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    Vishal Darekar
                                </td>
                                <td>
                                    7875880072
                                </td>
                                <td>
                                    abc@email.com
                                </td>
                                <td>
                                    <label class="badge badge-success">Active</label>
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ID5673
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    Vishal Darekar
                                </td>
                                <td>
                                    7875880072
                                </td>
                                <td>
                                    abc@email.com
                                </td>
                                <td>
                                    <label class="badge badge-success">Active</label>
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ID5673
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    Vishal Darekar
                                </td>
                                <td>
                                    7875880072
                                </td>
                                <td>
                                    abc@email.com
                                </td>
                                <td>
                                    <label class="badge badge-success">Active</label>
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>