<div class="loader-wrapper" *ngIf="pageLoaded">
    <div class="loader-container">
        <div class="dot dot-1"></div>
        <div class="dot dot-2"></div>
        <div class="dot dot-3"></div>
    </div>
</div>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-header d-flex align-items-baseline justify-content-between">
                <h4 class="card-title mr-2">Rider List</h4>
                <div class="d-flex align-items-center" *ngIf="isSuperAdmin">
                    <label class="mr-2">Service Area</label>
                    <app-select-dropdown [list]="serviceAreaList" [selected]="serviceAreaList[0].key" [placeholder]="'Select Service Area'"
                        (valueChange)="getRiderList($event)">
                    </app-select-dropdown>
                </div>
                <!-- <div class="input-group w-25">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">
                            <i class="mdi mdi-magnify"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control bg-light" placeholder="Search" aria-label="Search"
                        aria-describedby="btnGroupAddon">
                </div> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Mobile
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Service Area
                                </th>
                                <th>
                                    Status
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rider of riderList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                                <td>
                                    {{rider.id}}
                                </td>
                                <td>
                                    <img src="assets/images/faces/face1.jpg" class="mr-2" alt="image">
                                    {{rider.firstName}} {{rider.lastName}}
                                </td>
                                <td>
                                    {{rider.mobileNumber}}
                                </td>
                                <td>
                                    {{rider.email}}
                                </td>
                                <td>
                                    {{rider.serviceID?rider.serviceID.name:''}}
                                </td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" [checked]="rider.active" (change)="toggleRider($event,rider.id)">
                                        <span class="slider round"></span>
                                    </label>
                                    <!-- <label class="badge badge-success" *ngIf="rider.active">Enable</label>
                                    <label class="badge badge-danger" *ngIf="!rider.active">Disable</label> -->
                                </td>
                                <td class="d-flex justify-content-around">
                                    <i class="mdi mdi-pencil-box mdi-24px text-primary c-pointer" data-toggle="modal"
                                        data-target="#editModal" (click)="editRider=rider"></i>
                                    <i class="mdi mdi-delete mdi-24px text-danger c-pointer" (click)="deleteRider(rider.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination class="d-flex justify-content-center" *ngIf="riderList != null && riderList.length>0"
                        [collectionSize]="riderList.length" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<app-confirm-dialog></app-confirm-dialog>
<div class="modal" tabindex="-1" role="dialog" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Rider</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-add-rider [edit]="true" [editRider]="editRider" (updated)="getRiderList(selectedServiceId)"></app-add-rider>
            </div>
        </div>
    </div>
</div>