<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-header d-flex flex-row align-items-baseline justify-content-between">
        <h4 class="card-title m-0">Payment History</h4>
        <div class="input-group w-25">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <i class="mdi mdi-magnify"></i>
            </div>
          </div>
          <input type="text" class="form-control bg-light" placeholder="Search" aria-label="Search"
            aria-describedby="btnGroupAddon">
        </div>
        <div class="d-flex flex-row justify-content-between w-50">
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Daily</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">Weekly</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio3">Monthly</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio4">Anually</label>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Category Name
                </th>
                <th>
                  Item Name
                </th>
                <th>
                  Value
                </th>
                <th>
                  Status
                </th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Category 1
                </td>
                <td>
                  Item 1
                </td>
                <td>
                  $234
                </td>
                <td>
                  <label class="badge badge-success">Available</label>
                </td>
                <td class="d-flex justify-content-around">
                  <i class="mdi mdi-pencil-box mdi-24px text-primary c-pointer"></i>
                  <i class="mdi mdi-delete mdi-24px text-danger c-pointer"></i>
                </td>
              </tr>
              <tr>
                <td>
                  Category 1
                </td>
                <td>
                  Item 1
                </td>
                <td>
                  $234
                </td>
                <td>
                  <label class="badge badge-success">Available</label>
                </td>
                <td class="d-flex justify-content-around">
                  <i class="mdi mdi-pencil-box mdi-24px text-primary c-pointer"></i>
                  <i class="mdi mdi-delete mdi-24px text-danger c-pointer"></i>
                </td>
              </tr>
              <tr>
                <td>
                  Category 1
                </td>
                <td>
                  Item 1
                </td>
                <td>
                  $234
                </td>
                <td>
                  <label class="badge badge-success">Available</label>
                </td>
                <td class="d-flex justify-content-around">
                  <i class="mdi mdi-pencil-box mdi-24px text-primary c-pointer"></i>
                  <i class="mdi mdi-delete mdi-24px text-danger c-pointer"></i>
                </td>
              </tr>
              <tr>
                <td>
                  Category 1
                </td>
                <td>
                  Item 1
                </td>
                <td>
                  $234
                </td>
                <td>
                  <label class="badge badge-success">Available</label>
                </td>
                <td class="d-flex justify-content-around">
                  <i class="mdi mdi-pencil-box mdi-24px text-primary c-pointer"></i>
                  <i class="mdi mdi-delete mdi-24px text-danger c-pointer"></i>
                </td>
              </tr>
              <tr>
                <td>
                  Category 1
                </td>
                <td>
                  Item 1
                </td>
                <td>
                  $234
                </td>
                <td>
                  <label class="badge badge-success">Available</label>
                </td>
                <td class="d-flex justify-content-around">
                  <i class="mdi mdi-pencil-box mdi-24px text-primary c-pointer"></i>
                  <i class="mdi mdi-delete mdi-24px text-danger c-pointer"></i>
                </td>
              </tr>
              <tr>
                <td>
                  Category 1
                </td>
                <td>
                  Item 1
                </td>
                <td>
                  $234
                </td>
                <td>
                  <label class="badge badge-success">Available</label>
                </td>
                <td class="d-flex justify-content-around">
                  <i class="mdi mdi-pencil-box mdi-24px text-primary c-pointer"></i>
                  <i class="mdi mdi-delete mdi-24px text-danger c-pointer"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>