<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-header d-flex justify-content-between">
      <h4 class="card-title m-0">Add New Shop</h4>
      <button class="btn btn-sm btn-light btn-outline-secondary text-success font-weight-bold" routerLink="/general-pages/upload-shop"><i class="mdi mdi-upload"></i> UPLOAD FILE</button>
    </div>
    <div class="card-body">
      <form class="form-sample">
        <p class="card-description">
          Shop info
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">First Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Last Name</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Category</label>
              <div class="col-sm-8">
                <select class="form-control">
                  <option>Category1</option>
                  <option>Category2</option>
                  <option>Category3</option>
                  <option>Category4</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Membership</label>
              <div class="col-sm-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value=""
                      checked>
                    Free
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2"
                      value="option2">
                    Professional
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Shop Open Time</label>
              <div class="col-sm-8">
                <select class="form-control">
                  <option>10.30</option>
                  <option>10.00</option>
                  <option>11.00</option>
                  <option>11.30</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Shop Close Time</label>
              <div class="col-sm-8">
                <select class="form-control">
                  <option>10.00</option>
                  <option>10.45</option>
                  <option>11.00</option>
                  <option>12.00</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Shop Landline Number</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Cell Number</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <p class="card-description">
          Address
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Address 1</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">State</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Address 2</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Postcode</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">City</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Country</label>
              <div class="col-sm-8">
                <select class="form-control">
                  <option>America</option>
                  <option>Italy</option>
                  <option>Russia</option>
                  <option>Britain</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-12 col-form-label">Shop Location <i class="mdi mdi-crosshairs-gps"></i></label>
              <div class="col-sm-12">
                <div #mapContainer id="map"></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-end flex-column">
            <div class="form-group row mb-auto">
              <label class="col-sm-4 col-form-label">Shop Banner Image</label>
              <div class="col-sm-8">
                <div class="d-flex">
                  <input type="text" class="form-control">
                  <button class="btn btn-light btn-sm">Browse</button>
                </div>
                <sub>Upload file format JPEG, PNG, GIF, Should not exceed 20MB</sub>
              </div>
            </div>
            <div>
              <button class="btn btn-success btn-sm">SAVE</button>
              <button class="btn btn-success btn-sm">SUBMIT</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>