<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-header d-flex align-items-baseline">
                <div class="card-header d-flex">
                    <div class="newinput" style="display: inherit;margin: 0 23px 0 0;">
                        <input type="file" style="padding: 7px" (change)="uploadImage($event.target.files,'shop')"
                            class="form-control" id="input">
                        <!-- <label class="btn btn-light btn-sm" for="input" style="height: 35px;"> Browse</label> -->
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <button (click)="upload_csv('csv')" class="btn btn-sm btn-light">Upload</button>
                    </div>
                    <!-- <div class="col-sm-4">
                        <p class="bg-light text-danger p-1">No files selected</p>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="progress" style="height:20px">
                                    <div class="progress-bar bg-primary text-success" role="progressbar" style="width: 25%"
                                        aria-valuenow="56" aria-valuemin="0" aria-valuemax="100">Uploading....</div>
                                </div>
                                <sub>26 MB out of 240 MB (40%)</sub>
                            </div>
                            <div class="col-sm-12 mt-2">
                                <button class="btn btn-sm bg-dark text-white">DONE</button>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>

</div>