<div class="col-12 grid-margin">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title m-0">Add Service Area</h4>
    </div>
    <div class="card-body">
      <form class="form-sample">
        <p class="card-description">
          Service Area info
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Service Area</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Radius</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="radius" name="radius" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <agm-map [latitude]="lat" [longitude]="lng">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              <agm-circle [latitude]="lat" [longitude]="lng" [radius]="setRadius()" [fillColor]="'red'"
                [circleDraggable]="false" [editable]="false">
              </agm-circle>
            </agm-map>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-success btn-sm">SUBMIT</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>