<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Promocode List</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    S.No
                                </th>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Code Type
                                </th>
                                <th>
                                    Discount
                                </th>
                                <th>
                                    Expiration
                                </th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    ADDOJC
                                </td>
                                <td>
                                    amount
                                </td>
                                <td>
                                    25
                                </td>
                                <td>
                                    2020-05-05 00:00:00
                                </td>
                                <td>
                                    <label class="badge badge-gradient-success">Open</label>
                                </td>
                                <td>
                                    <a class="table-btn btn btn-icon btn-success"><i
                                            class="fa fa-pencil-square-o"></i></a>
                                    <button class="table-btn btn btn-icon btn-danger" form="resource-delete-9"><i
                                            class="fa fa-trash-o"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>