<div class="loader-wrapper" *ngIf="pageLoaded">
  <div class="loader-container">
    <div class="dot dot-1"></div>
    <div class="dot dot-2"></div>
    <div class="dot dot-3"></div>
  </div>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-header d-flex align-items-baseline">
        <h4 class="card-title mr-2">Employee List</h4>
        <div class="input-group w-25">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <i class="mdi mdi-magnify"></i>
            </div>
          </div>
          <input type="text" class="form-control bg-light" placeholder="Search" aria-label="Search"
            aria-describedby="btnGroupAddon" [(ngModel)]="searchText" (keyup)="searchByName()">
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Employee Name
                </th>
                <th>
                  Employee ID
                </th>
                <th>
                  Email
                </th>
                <th>
                  Mobile Number
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of employee | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td>
                  {{i.firstName}} {{i.lastName}}
                </td>
                <td>
                  {{i.id}}
                </td>
                <td>
                  {{i.email}}
                </td>
                <td>
                  {{i.mobileNumber}}
                </td>
                <td class="d-flex justify-content-around">
                  <i class="mdi mdi-pencil-box mdi-24px text-primary c-pointer" data-toggle="modal"
                    data-target="#editModal" (click)="editEmployee=i"></i>
                  <i class="mdi mdi-delete mdi-24px text-danger c-pointer" (click)="deleteEmployee(i.id)"></i>
                </td>
              </tr>

            </tbody>
          </table>
          <ngb-pagination class="d-flex justify-content-center" *ngIf="employee != null && employee.length>0"
            [collectionSize]="employee.length" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true">
          </ngb-pagination>
        </div>
      </div>
    </div>

  </div>
</div>
<app-confirm-dialog></app-confirm-dialog>
<div class="modal" tabindex="-1" role="dialog" id="editModal" tabindex="-1" role="dialog"
  aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-employee [edit]="true" [editEmployee]="editEmployee" (updated)="getAllEmployees()"></app-add-employee>
      </div>
    </div>
  </div>
</div>